body{
    position: absolute;
}

/*Title*/

/*#title::before {
	height: 500px;
}*/

/*Welcome*/

/*#sections {
	flex-direction: column;
	margin: 0px;
	padding: 0px;
}

#img {
	height: 125px;
}

#head {
	font-size: 40px;
}

#text {
	font-size: 20px;
}*/